*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align: middle;

}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: rgb(219, 219, 219);
}

nav{
    width: auto;
    position: sticky;
    margin: auto;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    min-height: 75px;
    overflow: hidden;

}

nav a {
    font-size: 18px;
    color: white;
    text-align: right;
    text-decoration: none;
    display: inline-block;
}

.nav-menu{
    float: right;
    margin: inherit;
    padding: inherit;
    text-align: center;

}

.dropdown{
    display: inline-block;
    overflow: hidden; 
    text-align: inherit;
    position: relative;
}

.dropdown .dropbtn{
    font-size: 18px;
    color: white;
    background-color: inherit;
    font-family: inherit; 
    display: inline-block;
    vertical-align: middle;
    
}

.dropdown-content {
    display: none;
    float: none;
    text-align: center;
    background-color: #000000;
    min-width: 50px;
    max-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(158, 158, 158, 0.2);
    z-index: 1;
    position: absolute;

}

.dropdown-content a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    text-align: center;
    border-bottom: 1px solid white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: #000;

}

.dropdown:hover .dropdown-content {
    display: block;
    float: none;
    text-align: left;
    position: fixed;
    align-content: center;
   
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

.logo{
    flex-basis: 20%;
}

.logo img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align:right;
}

.nav-links ul li { 
    list-style: none;
    display: inline;
    margin: 0 10px;
}

.nav-buttons{
    font-size: 2em;
    padding-right: 10px;
    display: inline-block;
    
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}

.nav-links ul li:hover{
    border-bottom-style: inset;
    display: inline;
    
}

.fa-github {
    background: transparent;
    color: white;  
}

.fa {
    width: 50px;
    text-align: center;
    text-decoration: none;
}