*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align: middle;
    

}

html{
    position: relative;
    background: rgb(255, 255, 255);
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgb(255, 255, 255);
}

nav{
    width: auto;
    position: sticky;
    margin: auto;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    min-height: 75px;
    overflow: hidden;

}

nav a {
    font-size: 1em;
    color: white;
    text-align: right;
    text-decoration: none;
    display: inline-block;
}

.nav-menu{
    float: right;
    margin: inherit;
    padding: inherit;
    text-align: center;
    

}

.dropdown{
    display: inline-block;
    overflow: hidden; 
    text-align: inherit;
    position: relative;
}

.dropdown .dropbtn{
    font-size: 1em;
    color: white;
    background-color: inherit;
    font-family: inherit; 
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    
}

.dropdown-content {
    display: none;
    float: none;
    text-align: center;
    background-color: #000000;
    min-width: 50px;
    max-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(158, 158, 158, 0.2);
    z-index: 1;
    position: absolute;

}

.dropdown-content a {
    color: black;
    text-decoration: none;
    padding: 1em 2em;
    display: block;
    text-align: center;
    border-bottom: 1px solid white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: #000;

}

.dropdown:hover .dropdown-content {
    display: block;
    float: none;
    text-align: left;
    position: fixed;
    top: 55px;
    right: 190px;
    align-content: center;
   
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

.logo{
    flex-basis: 20%;
}

.logo img{
    width: 150px;
   
}

.nav-links{
    flex: 1;
    text-align:right;
}

.nav-links ul li { 
    list-style: none;
    display: inline;
    margin: 0 10px;
}

.nav-buttons{
    font-size: 2em;
    padding-right: 0.5em;
    display: inline-block;
    
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}

.nav-links ul li:hover{
    border-bottom-style: inset;
    display: inline;
    
}

.fa-github {
    background: transparent;
    color: white;  
}

.fa {
    width: 50px;
    text-align: center;
    text-decoration: none;
}







/* START CONTENT ELEMENTS */

.main {
    position: relative;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

.content-wrap {
    padding-bottom: 2.5rem;
}


.front-intro {
    position: relative;
    text-align: center;
    color: white;
    image-rendering: crisp-edges;  

}

.main-text {
    position: absolute;
    top: 6vw;
    left: 6vw;
    text-align: left;
    font-size: calc(2px + 5vw);
    font-weight: 500;
    
}





/* START OVERVIEW */


.vl2{
    border-left: 3px solid rgb(121, 121, 121);
    height: 60%;
    position: absolute;
    left: -15%;
    top: 15%;
   
}

.content-right-top {
    width: 40vw;
    text-align: center;
    font-size: calc(6px + 1.5vw);
    position: relative;
    left: 55vw;
    top: 10vw; 
    margin-bottom: 10vw;
}














/* START SKILLS */

#skills-header{
    color: rgb(121, 121, 121);
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}

.hl {
    border-bottom: 4px solid rgb(121, 121, 121);;
    width: 40%;
    left: 30%;
    position: relative;
}


.skills{
    color: rgb(121, 121, 121);
    font-size: 500%;
    text-align: center;
    position: relative;
    overflow: visible;
    
}


.skills-top{
    position: relative;
    margin-top: 30px;
}

.skills-bottom{
    position: relative;

}


.html-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}

.css-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}

.js-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}

.py-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}

.sql-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}

.django-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}

.react-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw); 
    min-width: 250px;
}

.vs-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}

.git-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}

.gh-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}








.skills-titles-html{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-css{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-js{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-py{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-sql{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-dj{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-react{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-vs{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-git{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-gh{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.devicon-html5-plain:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-css3-plain:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-javascript-plain:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-python-plain:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-mysql-plain:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-django-plain:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-react-original:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-vscode-plain:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-git-plain:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-github-original:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-html5-plain:hover 
.skills-titles-html {
    color: rgb(189, 189, 189);
}

.devicon-css3-plain:hover 
.skills-titles-css {
    color: rgb(189, 189, 189);
}

.devicon-javascript-plain:hover 
.skills-titles-js {
    color: rgb(189, 189, 189);
}

.devicon-python-plain:hover 
.skills-titles-py {
    color: rgb(189, 189, 189);
}

.devicon-mysql-plain:hover 
.skills-titles-sql {
    color: rgb(189, 189, 189);
}

.devicon-django-plain:hover 
.skills-titles-dj {
    color: rgb(189, 189, 189);
}

.devicon-react-original:hover 
.skills-titles-react {
    color: rgb(189, 189, 189);
}

.devicon-vscode-plain:hover 
.skills-titles-vs {
    color: rgb(189, 189, 189);
}

.devicon-git-plain:hover 
.skills-titles-git {
    color: rgb(189, 189, 189);
}

.devicon-github-original:hover 
.skills-titles-gh {
    color: rgb(189, 189, 189);
}





/* START ABOUT PAGE */

.headshot-pic {
    position: relative;
    overflow: hidden;
    width: 20vw;
    height: 20vw;
    min-width: 200px;
    min-height: 200px;
    top: 3vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vw;
}

.headshot {
    height: 100%;
    border-radius: 50%;
    
}

.about-title {
    position: relative;
    text-align: center;
    font-size: calc(2vw + 20px);
    
}

.about-paragraph {
    position: relative;
    text-align: center;
    margin-left: calc(25vw - 40px);
    margin-right: calc(25vw - 40px);
    margin-top: 2vw;
    margin-bottom: 5vw;
    line-height: 40px;
}











/* START FOOTER */






.footer{
    background-color: rgb(0, 0, 0);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 200px;
    color: rgb(207, 207, 207);
    margin-top: 1vw;
}

.footer img{
    position: absolute;
    width: auto;
    height: 100px;
    top: 50px;
    right: 52vw;
}

.vl {
    position: absolute;
    left: 50%;
    top: 30px;
}

.footer-links {
    position: absolute;
    left: 52vw;
    text-align: left;
    top: 45px;
    line-height: 35px;
    font-size: 16px;
}

.footer-links a{
    color: white;
    text-decoration: none;
    font-weight: 450;
}

.footer-links a:hover{
    border-bottom-style: inset;
}