*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align: middle;
    

}

html{
    position: relative;
    background: rgb(255, 255, 255);
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgb(255, 255, 255);
}

nav{
    width: auto;
    position: sticky;
    margin: auto;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    min-height: 75px;
    overflow: hidden;

}



.nav-menu{
    float: right;
    margin: inherit;
    padding: inherit;
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
    border: none;
    position: relative;
    padding-left: calc(2vw - 10px);
    padding-right: calc(2vw - 10px);
    
}

.dropdown{
    display: inline-block;
    overflow: hidden; 
    text-align: inherit;
    position: relative;
}

.dropbtn{
    font-size: 1em;
    color: white;
    background-color: black;
    font-family: inherit; 
    cursor: pointer;
    line-height: 100%;
    border: none;
}

.dropdown-content {
    display: none;
    float: none;
    text-align: center;
    background-color: #000000;
    min-width: 50px;
    max-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(158, 158, 158, 0.2);
    z-index: 1;
    position: absolute;

}

.dropdown-content a {
    color: black;
    text-decoration: none;
    padding: 1em 2em;
    display: block;
    text-align: center;
    border-bottom: 1px solid white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: #000;

}

.dropdown:hover .dropdown-content {
    display: block;
    float: none;
    text-align: left;
    position: fixed;
    top: 52px;
    right: 190px;
    align-content: center;
   
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }

.logo{
    flex-basis: 20%;
}

.logo img{
    width: 150px;
   
}

.nav-links{
    flex: auto;
    text-align:right;
}

.nav-links ul li { 
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.nav-buttons{
    font-size: 2em;
    padding-right: 0.5em;
    display: inline-block;
    
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    line-height: 100%;
}

.nav-links ul li:hover{
    border-bottom-style: inset;
    display: inline;
    
}

.fa-github {
    background: transparent;
    color: white;  
}

.fa {
    width: 50px;
    text-align: center;
    text-decoration: none;
}







/* START CONTENT ELEMENTS */

.main {
    position: relative;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

.content-wrap {
    padding-bottom: 2.5rem;
}


.front-intro {
    position: relative;
    text-align: center;
    color: white;
    image-rendering: crisp-edges;  

}

.main-text {
    position: absolute;
    top: 6vw;
    left: 6vw;
    text-align: left;
    font-size: calc(2px + 5vw);
    font-weight: 500;
    
}





/* START OVERVIEW */


.vl2{
    border-left: 3px solid rgb(121, 121, 121);
    height: 60%;
    position: absolute;
    left: -15%;
    top: 15%;
   
}

.content-right-top {
    width: 40vw;
    text-align: center;
    font-size: calc(6px + 1.5vw);
    position: relative;
    left: 55vw;
    top: 10vw; 
    margin-bottom: 10vw;
}














/* START SKILLS */

#skills-header{
    color: rgb(121, 121, 121);
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}

.hl {
    border-bottom: 4px solid rgb(121, 121, 121);;
    width: 40%;
    left: 30%;
    position: relative;
}


.skills{
    color: rgb(121, 121, 121);
    font-size: 500%;
    text-align: center;
    position: relative;
    overflow: visible;
    
}


.skills-top{
    position: relative;
    margin-top: 30px;
}


.html-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}

.css-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}

.js-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}

.py-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}

.sql-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}

.django-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}

.react-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw); 
    min-width: 250px;
}

.vs-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}

.git-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}

.gh-icon {
    display: inline-block;
    position: relative;
    margin: calc(60px - 1.2vw);
    min-width: 250px;
}








.skills-titles-html{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-css{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-js{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-py{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-sql{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-dj{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-react{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-vs{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-git{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.skills-titles-gh{
    display: block;
    color: transparent;
    position: relative;
    font-size: 40px;
    text-align: center;
}

.devicon-html5-plain:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-css3-plain:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-javascript-plain:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-python-plain:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-mysql-plain:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-django-plain:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-react-original:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-vscode-plain:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-git-plain:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-github-original:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
}

.devicon-html5-plain:hover 
.skills-titles-html {
    color: rgb(189, 189, 189);
}

.devicon-css3-plain:hover 
.skills-titles-css {
    color: rgb(189, 189, 189);
}

.devicon-javascript-plain:hover 
.skills-titles-js {
    color: rgb(189, 189, 189);
}

.devicon-python-plain:hover 
.skills-titles-py {
    color: rgb(189, 189, 189);
}

.devicon-mysql-plain:hover 
.skills-titles-sql {
    color: rgb(189, 189, 189);
}

.devicon-django-plain:hover 
.skills-titles-dj {
    color: rgb(189, 189, 189);
}

.devicon-react-original:hover 
.skills-titles-react {
    color: rgb(189, 189, 189);
}

.devicon-vscode-plain:hover 
.skills-titles-vs {
    color: rgb(189, 189, 189);
}

.devicon-git-plain:hover 
.skills-titles-git {
    color: rgb(189, 189, 189);
}

.devicon-github-original:hover 
.skills-titles-gh {
    color: rgb(189, 189, 189);
}





/* START ABOUT PAGE */

.headshot-pic {
    position: relative;
    overflow: hidden;
    width: 20vw;
    height: 20vw;
    min-width: 200px;
    min-height: 200px;
    top: 3vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vw;
}

.headshot {
    height: 100%;
    border-radius: 50%;
}

.about-title {
    position: relative;
    text-align: center;
    font-size: calc(2vw + 20px);
}

.about-paragraph {
    position: relative;
    text-align: center;
    margin-left: calc(20vw - 40px);
    margin-right: calc(20vw - 40px);
    margin-top: 2vw;
    margin-bottom: 5vw;
    line-height: calc(2vw + 15px);
    font-size: calc(1.2vw + 10px);
}



/* START CONTACT PAGE  */


.contact-title {
    position: relative;
    text-align: center;
    font-size: calc(2vw + 20px);
}



/* START RESUME PAGE */

.resume-tip {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
    font-size: 20px;
}

.resume-button{
    background-color: #000;
    position: relative;
    margin-left: calc(50% - 175px);
    margin-right: auto;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    text-align: center;
    border: none;
    border-radius: 10px;
    width: 350px;
    height: 70px;
    display: block;
    text-decoration: none;
}

.resume-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);;
}

.download-resume-text {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: auto;
    margin: auto;
    line-height: 70px;
}

.pdf-content {
    margin-bottom: 0;
    padding-bottom: 0;
}





/* START SCRIPTS PAGE */

.content-scripts {
    position: relative; 
}      


.main-title-scripts {
    font-size: calc(36px + 1.4vw);
    text-align: center;
    margin-top: 2vw;
}

.vl3 {
    border-left: 3px solid rgb(121, 121, 121);
    height: 30vw;
    position: absolute;
    left: -14%;
    top: 15%;
    
}

#lifting-image {
    position: absolute;
    width: 40vw;
    margin: auto;
    height: auto;
    top: 10%;
    left: 5vw;
    right: 55vw;
    display: inline-block;
    
}


.p1-title {
    position: absolute;
    font-size: calc(11px + 1.2vw);
    width: 40vw;
    left: 55vw;
    text-align: center;
    top: 5vw;
    display: inline-block;
}

.scripts-p1 {
    width: 40vw;
    text-align: center;
    font-size: calc(8px + 1.3vw);
    position: relative;
    left: 55vw;
    top: 5vw; 
    margin-bottom: 10vw;
    display: inline-block;
}

.p2-title {
    position: relative;
    font-size: calc(11px + 1.2vw);
    width: 40vw;
    left: 5vw;
    right: 55vw;
    text-align: center;
    top: 5vw;
}

.scripts-p2 {
    width: 40vw;
    text-align: center;
    font-size: calc(8px + 1.3vw);
    position: relative;
    left: 5vw;
    top: 7vw; 
    right: 55vw;
    margin-bottom: 10vw;
}

.vl4 {
    border-left: 3px solid rgb(121, 121, 121);
    height: 60%;
    position: absolute;
    right: -11.5%;
    top: 15%;
    
}

.Job-Scraper-pic {
    position: absolute;
    width: 40vw;
    margin: auto;
    height: auto;
    top: 45%;
    left: 55vw;
    right: 5vw;
    display: inline-block;
}

.p3-title {
    position: relative;
    font-size: calc(11px + 1.2vw);
    width: 40vw;
    left: 55vw;
    text-align: center;
    top: 5vw;
}

.vl5 {
    border-left: 3px solid rgb(121, 121, 121);
    height: 60%;
    position: absolute;
    left: -14%;
    top: 15%;
}

.scripts-p3 {
    width: 40vw;
    text-align: center;
    font-size: calc(8px + 1.3vw);
    position: relative;
    left: 55vw;
    top: 7vw; 
    margin-bottom: 10vw;
}

.login-pic {
    position: absolute;
    width: 40vw;
    margin: auto;
    height: auto;
    top: 75%;
    left: 5vw;
    right: 55vw;
    display: inline-block;
}

.scripts-ending {
    text-align: center;
    margin-bottom: 5px;
}


@media (max-width:800px){
    #lifting-image {
        left: 10vw;
        width: 80vw;
        height: auto;
        position: relative;
        top: 2vw;
    }

    .p1-title{
        left: 30vw;
        width: 40vw;
        position: relative;
       
    }
    .scripts-p1{
        left: 5vw;
        width: 90vw;
        
    }
    .p2-title{
        left: 30vw;
        width: 40vw;
        
    }
    .scripts-p2{
        left: 5vw;
        width: 90vw;
        
    }

    .Job-Scraper-pic {
        left: 10vw;
        width: 80vw;
        height: auto;
        position: relative;
        top: 2vw;
    }

    .p3-title{
        left: 30vw;
        width: 40vw;
    }
    .scripts-p3{
        left: 5vw;
        width: 90vw;
    }

    .login-pic {
        left: 10vw;
        width: 80vw;
        height: auto;
        position: relative;
        top: 2vw;
    }

    .pdf-viewer{
        width: 100%;
        height: 100%;
    }
}







/* START WEBSITES PAGE */


.websites-heading {
    font-size: calc(36px + 1.4vw);
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 1.1vw;
}

.websites-subheading {
    font-size: calc(12px + 1.2vw);
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.grid-container {
    position: relative;
    background-color: transparent;
    margin: 3vw;
    text-align: center;
}

.grid-item {
    display: inline-block;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    height: 200px;
    width: 250px;
    margin: 3vw;
    line-height: 200px;
}

.grid-item:hover {
    transform: scale(1.2);
    transform-origin: center;
    color: rgb(189, 189, 189);
    border-color: rgb(189, 189, 189);
    cursor: pointer;
    box-shadow: black;
}





/* START WORK PAGE */

#content-work-headings {
    font-size: calc(36px + 1.4vw);
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 1.1vw;
}

.View-Scripts {
    margin: auto;
    position: relative;
    display: block;
    left: 50vw;
    top: 30;
}

.myScripts {
    width: 30vw;
    height: auto;
    margin: auto;
    padding: auto;
    position: relative;
}



/* START CONTACT PAGE */








/* START FOOTER */






.footer{
    background-color: rgb(0, 0, 0);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 200px;
    color: rgb(207, 207, 207);
    margin-top: 1vw;
}

.footer img{
    position: absolute;
    width: auto;
    height: 100px;
    top: 50px;
    right: 52vw;
}

.vl {
    border-left: 1px solid rgb(255, 255, 255);
    height: 140px;
    position: absolute;
    left: 50%;
    top: 30px;
}

.footer-links {
    position: absolute;
    left: 52vw;
    text-align: left;
    top: 45px;
    line-height: 35px;
    font-size: 16px;
}

.footer-links a{
    color: white;
    text-decoration: none;
    font-weight: 450;
}

.footer-links a:hover{
    border-bottom-style: inset;
}